.root__footer {
  margin: 32px 0 20px;
}


@media screen and (max-width: 768px) {
  .root__footer {
    margin-top: 45px;
  }
}


@media screen and (max-width: 640px) {
  .root__footer {
    margin-top: 88px;
  }
}
