.overview__title {
  margin: 29px 0 0;
  width: 530px;
}

@media screen and (max-width: 768px) {
  .overview__title {
    width: 336px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 640px) {
  .overview__title {
    width: 100%;
  }
}
