.headliner__subtitle {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  margin: 32px auto 0;
}


@media screen and (max-width: 640px) {
  .headliner__subtitle {
    margin: 16px auto 0;
  }
}
