.button {
  font-family: Roboto;
  border-radius: 100px;
  border: none;
  background: #2F71E5;
  padding: 12px 20px;
  align-self: center;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.button:not(:disabled):hover {
  opacity: 0.9;
}

.button:disabled {
  background: #E6E8EB;
  color: #B6BCBF;
}
