@import url('../../vendor/fonts/roboto.css');

.button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border-radius: 100px;
  border: none;
  background: #2F71E5;
  padding: 12px 20px;
  align-self: center;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.button:not(:disabled):hover {
  opacity: 0.9;
}

.button:disabled {
  background: #E6E8EB;
  color: #B6BCBF;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 7px 14px;
  }
}

@media screen and (max-width: 640px) {
  .button {
    width: 100%;
  }
}
