@import url('../../../vendor/fonts/roboto.css');

.about__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 600px;
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .about__text {
    margin-top: 12px;
  }
}

@media screen and (max-width: 640px) {
  .about__text {
    margin-top: 18px;
  }
}
