.card__source {
  text-decoration: none;
  text-transform: uppercase;
  color: #B6BCBF;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 14px 5px 0;
}
