.card__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: absolute;
  box-sizing: border-box;
  margin: 24px;
  width: calc(100%-48px);
  top: 0;
  left: 0;
}
