<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Васильев Михаил">
  <meta name="description" content="Дипломный проект япрактикума по курсу вэб">
  <link rel="icon" type="image/png" href="<%=require('../../assets/favicon.png') %>">
  <% for (let cssBundle of htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%=cssBundle %>">
  <% } %>
  <title>News Explorer</title>
</head>
<body class="body">
  <% for (let jsBundle of htmlWebpackPlugin.files.js) { %>
    <script src="<%=jsBundle %>"></script>
  <% } %>
</body>
</html>
