@import url('../../vendor/fonts/roboto.css');

.headliner {
  max-width: 600px;
  align-self: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: white;
}

@media screen and (max-width: 768px) {
  .headliner {
    max-width: 440px;
  }
}

@media screen and (max-width: 640px) {
  .headliner {
    width: 100%;
  }
}
