.button_icon_bookmark::after {
  content: ' ';
  mask: url(./bookmark.svg);
  mask-size: cover;
  width: 1em;
  height: 1.5em;
  background-color: currentColor;
  display: inline-block;
  margin: 0 3px;
}
