.button_icon_close::after {
  content: ' ';
  mask: url(./close.svg);
  mask-size: cover;
  color: inherit;
  width: 1em;
  height: 1em;
  color: white;
  background-color: currentColor;
  opacity: 0.5;
  display: inline-block;
}

.button_icon_close:hover::after {
  opacity: 1;
}
