.button.button_icon_bookmark::after {
  content: ' ';
  mask: url(./bookmark.svg);
  mask-size: cover;
  width: 1em;
  height: 1.5em;
  background-color: currentColor;
  opacity: .5;
  display: inline-block;
  margin: 0 3px;
}

.button_icon_bookmark:hover::after {
  opacity: 1;
}
