.footer__links {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.footer__links > * {
  margin: 0 32px;
}

.footer__links > *:first-child {
  margin-left: 0;
}

.footer__links > *:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .footer__links > * {
    margin: 0 24px;;
  }
}

@media screen and (max-width: 640px) {
  .footer__links {
    margin: 40px 0 30px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__links > * {
    margin: 0;
  }

}
