.headliner__search-form {
  position: relative;
  width: 100%;
  margin-top: 62px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .headliner__search-form {
    height: 56px;
  }
}

@media screen and (max-width: 640px) {
  .headliner__search-form {
    margin: 116px 0 22px;
    flex-direction: column;
    height: unset;
  }
}
