@import url('../../vendor/fonts/roboto.css');

.modal {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 640px) {
  .modal {
    top: 56px;
    background-color: unset;
  }
}
