@import url('../../../vendor/fonts/roboto.css');

.card__description {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 4px 0;
  max-height: 110px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
 .card__description {
   max-height: 88px;
   line-clamp: 4;
 }
}
