.footer {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
